# output and input redirection files
output.txt
input.txt

# temporary files
temp.*

# practise files
practise.*
plotpractise.ipynb

# debug log files
*.log

# some utility files
box_table.html

# other file
spinnerproblem.py

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
env.bak/
venv.bak/